* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Shantell Sans", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Shantell Sans", cursive;
  font-weight: normal;
}

.app {
  text-align: center;
}

.playground {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  margin-top: 5%;
}

.user {
  /* border: 1px solid black; */
}

.machine {
  /* border: 1px solid black; */
}
